body {
    /* background-color: red; */
    background-color: lightgray;
}
.row {
    background-color: white;
  }  

  .col-md-9 h1{
    background-color: #4aaaa5;
    width: 250px;
    height: 65px;   
    padding: 15px 15px 15px 15px;
    margin: 0px 142px;
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    }

    .col-md-12 h1 {
        text-align: left;
      margin: 0 auto 0 auto;
      padding: 10px 0px 0px 0px;
      color: #4aaaa5;
      font-family: Georgia, 'Times New Roman', Times, serif; 
      font-size: 35px;
    }

    .top-buffer {margin-top:20px; 
    }

.col-md-1 { /* format for links which are in columns*/
    background-color: #ffffff;
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    color: #777777;
    text-justify: center;
}

p, ul {
    text-align: left;
    color:  #777777;
}

.label {
    /* left: 225px; */
    /* bottom: 95px; */
    height: 55px;
    color: #ffffff;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 15px 15px;
    /* width: "100"; */
   /* height: "74"; */
}
.container-fluid{
    margin:10px auto 0px;
      max-width: 960px;
      background-color: #ffffff;
      padding: 10px 25px 10px 25px;
}
.myfooter { 
    background-color:#666666;
    color:  #ffffff;
    text-align: center;
    font-size: 12px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    padding: 25px 25px; /* copywrite info */
    border-top: 5px solid #4aaaa5; 
    width: 100%;
}
.myfooter,
.push {
  height: 65px;
}